@model List<Movie>
@{
    Layout = "_Layout";
}

<div class="container text-left row px-10">
    @foreach (var item in Model)
    {
        <div class="card col-sm-4 m-4 p-2" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle">@item.Description</h6>
                <p class="card-text">@item.MovieGenre</p>
            </div>
        </div>
    }
</div>
