@model IQueryable<Movie>

<h1>Hello Random Movie</h1>
<div class="card">
    <div class="card-body">
        @foreach (var i in Model)
        {
            <p>@i.Title</p>
        }
    </div>
</div>